TS_HOSTNAME=bif-server
TS_AUTHKEY=tskey-auth-YOUR_AUTH_KEY
PLACE_SEARCH_PROVIDER=mongo
TYPESENSE_ENABLED=false
TYPESENSE_API_KEY=REPLACE_WITH_A_STRONG_RANDOM_KEY
TYPESENSE_BOOTSTRAP_REINDEX_ON_STARTUP=false