name: Android CI

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["dev"]
  workflow_dispatch:

jobs:
  check_quality:
    uses: ./.github/workflows/code-quality.yml
    secrets:
      GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}

  build:
    name: Build & Artifact
    needs: check_quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: gradle

      - name: Create google-services.json
        run: echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 -d > app/google-services.json

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create local.properties
        run: |
          echo "MAPS_API_KEY=${{ secrets.MAPS_API_KEY }}" > local.properties
          echo "PLACES_API_KEY=${{ secrets.PLACES_API_KEY }}" >> local.properties

      - name: Build Debug APK
        run: ./gradlew assembleDebug -PBUILD_NUMBER=${{ github.run_number }}

      - name: Rename APK
        run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/BIF-Locator.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: BIF-Locator
          path: app/build/outputs/apk/debug/BIF-Locator.apk

  deploy:
    name: Firebase Deploy
    needs: build
    environment: development
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: BIF-Locator
      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.FIREBASE_CREDENTIALS }}
          groups: bif_test_distribution
          file: BIF-Locator.apk
